/* Footer */
#footerMain {
    background-color: #FB813E;
    @apply float-right w-full h-24;
}

.menufinal{
    @apply text-center h-screen;
}

#contacto{
    @apply float-left ml-10;
}

#copyright{
    @apply float-right mr-10;
}

.menufinal ul li {
    font-family: 'Poppins', sans-serif;
    @apply font-semibold inline-block text-center py-4 ;
}

.menufinal ul li a {
    @apply text-black transition-all cursor-pointer p-5 text-xl;
}

.menufinal ul li a:hover {
    text-decoration: none;
    color: #afcfce;
}