/* Header */

#headerMain {
    font-family: 'Poppins', sans-serif;
    background-color: #FB813E;
    @apply h-36 font-semibold;
}

.logo {
    @apply p-1 float-left;
}

.logo img {
    @apply w-32 h-auto mt-4 ml-12;
}

.menu {
    @apply float-right mr-12;
}

.menu ul li {
    @apply inline-block mt-14 mr-4;
}

.menu ul li a {
    @apply text-black text-xl p-5 rounded-lg;
}

.menu ul li a:hover {
    @apply transition-all cursor-pointer text-white;
}

.menu li ul {
    display: none;
    @apply absolute p-0 pb-6 rounded-lg;
}

.menu li:hover > ul {
    background-color: #FB813E;
    @apply grid grid-cols-1 transition-all cursor-pointer;
}
