/* Header */
#headerMain {
    font-family: 'Poppins', sans-serif;
    background-color: #FB813E;
    height: 120px;
}

.logo {
    padding-top: 3px;
    display: table;
    float: left;
}

.logo img {
    width: 120px;
    height: auto;
    margin-top: 10px;
    margin-left: 70px;
}

.menu {
    float: unset;
    float: right;
    margin-right: 50px;
}

.menu ul {
    list-style: none;
}

.menu ul li {
    display: inline-block;
    /* margin-top: 16px; */
}

.menu ul li a {
    color: #000;
    text-decoration: none;
    padding: 0px 20px;
    line-height: 80px;
    letter-spacing: 1px;
    font-size: 22px;
    border-radius: 6px;
}

.menu ul li a:hover {
    background-color: #d36d34;
    display: block;
    transition: color 0.3s;
    cursor: pointer;
}

.menu li ul {
    display: none;
    position: absolute;
}

.menu li:hover>ul {
    display: grid;
    background-color: #FB813E;
    padding-left: 0%;
    transition: color 0.3s;
    cursor: pointer;
}
