/* Hoja de estilo para el registro de productos */

/* Body */

#containerSection{
    font-family: 'Poppins', sans-serif;
    background-color: #afcfce;
    height: 500px;
    padding-top: 10px;
    text-align: center;
}

#tittle{
    font-family: 'Poppins', sans-serif;
    font-size: 33px;
}

.formSubmit{
    padding: 10px;
    margin-bottom: 15px;
}

#list-submit{
    font-family: 'Poppins', sans-serif;
    font-size: 22px ;
    cursor: pointer;
    margin-bottom: 10px;
    padding: 5px;
    border: 0;
    border-radius: 6px;
    width: 110px;
    height: 50px;
    background-color: #fff4e7;
    color: black;
}

#list-submit:hover{
    transition: all 0.5s;
    background-color: #d36d34;
    color: white;
}

table{
    width: 100%;
    border-collapse: collapse;
    background-color: white;
}

th, td{
    border: solid 1px #eee;
    padding: 5px;
}

th{
    background-color: #d36d34;
    color: white;
}

tr:nth-child(even){
    background-color: #eee;
}

tr:hover{
    background-color: #FB813E;
}