@import url('general.css');

.inputListSales{
    @apply w-auto h-auto p-1 rounded-lg focus:ring-2 focus:ring-blue-600 text-center ml-60 mt-4;
}

#btn-list-submit{
    font-family: 'Poppins', sans-serif;
    @apply w-auto h-auto cursor-pointer p-4 border-0 rounded-lg bg-gray-200 text-black text-2xl transition-all;
}

#btn-list-submit:hover{
    background-color: #FB813E;
    color: white;
}

.formSubmitList{
    @apply text-center pb-5 mb-5;
}

.table-products-container{
    @apply text-center mx-10 pb-32;
}

#table-list-products{
    font-family: 'Poppins', sans-serif;
    width: 100%;
    @apply text-center border-collapse bg-white;
}

th, td{
    @apply border border-solid border-gray-100 p-3;
}

th{
    background-color: #d36d34;
    @apply text-white;
    
}

tr:nth-child(even){
    @apply bg-gray-200;
}

tr:hover{
    background-color: #FB813E;
}