@import url('general.css');

.formSubmitList{
    @apply text-center pb-5 mb-5;
}

.table-container{
    width: 90%;
    @apply text-center pt-10 pb-24;
}

#table-list{
    font-family: 'Poppins', sans-serif;
    width: 100%;
    @apply text-left border-collapse bg-gray-100;
}

th{
    /* background-color: #d36d34; */
    @apply border-2 border-solid border-gray-300 bg-green-500 p-4 py-5 text-white;;
}

td{
    @apply border border-solid border-gray-200 p-4;
}

tr:nth-child(even){
    @apply bg-gray-200;
}

tr:hover{
    background-color: #FB813E;
    @apply bg-gray-300 hover:bg-opacity-30 cursor-pointer;
}